<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzone</title>
    <link rel='stylesheet' href="{% static 'css/about.css'    %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    
</head>
<body>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <a class="navbar-brand" href="#">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj9a6FJBPlAdE22gkjBYv9hBZRdHuvTEcQ7w&usqp=CAU" width="30" height="30" alt="">
        </a>
        <div id="nav-placeholder"></div>
        <a class="navbar-brand" href="#">Quizzone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul 
        class="navbar-nav mr-auto">
          
        <li
        class="nav-item active">
         <a class="nav-link" href="http://127.0.0.1:8000">Home <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item active">
           <a class="nav-link" href="http://127.0.0.1:8000/register">Register <span class="sr-only">(current)</span></a>
         </li>
         <li  class="nav-item active"  >
           <a  class="nav-link" href="http://127.0.0.1:8000/about" >About Us  <span class="sr-only">(current)</span></a>
           </li>      </ul>
          </div>
      </nav>
      </div >
      <div id ="center"><h3 style="color: rgb(104, 6, 6);"><b>ABOUT US</b></h3> </div>
      <div class="allign">
      <p><b>  VISION</b></p>
      <p>  Our vision at Quizzone is to evolve the way students learn by providing engaging and good quality content by leveraging technology to merge best practice like MCQ quiz with timer.</p><p>  We believe in your vision and strive to bring it to  life regardless of what needs to be done. </p>
      <hr><hr>
      <p><b>  WHY QUIZZONE</b></p>
      <P>  Our focus is to improve constant and build optimal solutions and deliver carefully crafted content to ensure effective learning for all,catering to all academic needs of a learner free of cost.One way to keep children engaged is by gamifying education and this is what we do at Quizzone which enables learners to easily access standard education.After food and rent,India spends the highest on education and thus by providing our services free of cost we help people save some amount which can be invested in the developement of other aspects of their life.</P>

    </div>
</body>
</html>

